* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*font-family: sans-serif;*/
  color: #333;
}
a{
	text-decoration: none;
}
a:hover{
	opacity: 0.5;
	transition: 0.5s;
}
.sidebar{
	height: 100%;
	position: fixed;
	border-right: 1px solid #e1e4e8;
	/*width: 270px;*/
	width: 21%;
	float: left;
}
.sidebar .intro{
	padding: 15px 15px;
	text-align: center;
}
.sidebar .nav{
	text-align: center;
	border-bottom: 1px solid #e1e4e8;
}
.sidebar .nav{
	height: 70px;
}

.sidebar .nav ul{
	padding: 0px;
	list-style: none;
	overflow: hidden;
}
.sidebar .nav ul li{
	float: left;
	width:70px;
	height: 70px;
	line-height: 70px;
	margin-left: -5px;
}
.sidebar .nav ul li a{
	text-align: center;
	/*padding: 14px 15px;*/
	display: block;
	color: #333;
}
.avatar{
	/*margin-top: 30px;*/
	text-align: center;
	height: 190px;
}
.avatar img{
	height: 170px;
	width: 170px;
	/*display: block;*/
	border-radius: 50%;
	line-height: 190px;
	margin-top: 10px;
	/*transition: 1s;*/
	/*text-align: center;*/
}
.contact{
	margin-top: 10px;
	text-align: center;
}
.contact div{
	display: inline-block;
	width: 50px;
}
.contact img{
	height: 23px;
	width: 23px;
	display: inline-block;

}
.contact img:hover{
	opacity:0.5;
	transition: 0.5s;
}
.container{
	/*display:block;*/
	/*position: relative;*/
	width: 79%;
	float: right;
	margin-top: 10px;
	left: 0px;
	margin-bottom: 20px;
}
.container .head{
	padding-left: 30px;
	/*position: fixed;*/
	/*display: block;*/
	/*margin:auto;*/
	width: 750px;
}
.container .content{
	border: 1px solid #e1e4e8 ;
	border-radius: 5px 5px;
	width: 950px;
	margin: auto;
	margin-top: 10px;
}
.container .posts{
	width: 750px;
	margin: auto;
	margin-top: 5px;
	padding-top: 20px;
	/*border: 1px solid black;*/
	/*border: 1px solid black;*/
}
.container .posts p{
	padding-top: 10px;
}