* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*font-family: sans-serif;*/
  color: #333;
}
a{
	text-decoration: none;
}
a:hover{
	opacity: 0.5;
	transition: 0.5s;
}
.sidebar{
	height: 100%;
	position: fixed;
	border-right: 1px solid #e1e4e8;
	/*width: 270px;*/
	width: 21%;
	float: left;
}
.sidebar .intro{
	padding: 15px 15px;
	text-align: center;
}

.sidebar .avatar{
	text-align: center;
	height: 190px;
	margin-top: 70px;
}
.sidebar .avatar img{
	height: 170px;
	width: 170px;
	border-radius: 50%;
	line-height: 190px;
}
.contact{
	margin-top: 10px;
	text-align: center;
}
.contact div{
	display: inline-block;
	width: 50px;
}
.contact img{
	height: 23px;
	width: 23px;
	display: inline-block;

}
.contact img:hover{
	opacity:0.5;
	transition: 0.5s;
}
.container{
	/*display:block;*/
	/*position: relative;*/
	width: 79%;
	float: right;
	margin-top: 10px;
	left: 0px;
	margin-bottom: 20px;
}
.container .head{
	padding-left: 30px;
	/*position: fixed;*/
	/*display: block;*/
	/*margin:auto;*/
	width: 70%;
}
.container .content{	
	/* border: 1px solid #e1e4e8 ;
	border-radius: 5px 5px; */
	width: 90%;
	margin: auto;
	/* margin-top: 10px; */
}
.container .posts{
	width: 70%;
	margin: auto;
	margin-top: 5px;
	padding-top: 20px;
	/*border: 1px solid black;*/
	/*border: 1px solid black;*/
}
.container .posts p{
	padding-top: 10px;
}
.sidebar .nav{
	margin-top: 10px;
}
.sidebar .nav ul li{
	height: 55px;
	border-bottom: 1px solid #e1e4e8 ;
	line-height: 55px;
	text-align: right;
	padding-right: 10px;
}
.sidebar .nav ul li a{
	color: #333;
	font-size: 19px;
}